/out
/node_modules
/misc/mas
/misc/logo/jasper.icns
/misc/data
/.idea
/src/Renderer/Fragment/Browser/BrowserFragmentAsset/darkreader.js
/src/Renderer/asset/css/materialdesignicons.*
/src/Renderer/asset/fonts/materialdesignicons*
/src/Renderer/Library/Type/IconNameType.ts

