@media (min-width: 1020px) {
  .main .container, /* for old github */
  [role="main"] .container {
    width: calc(100vw - 80px);
    max-width: 1400px;
  }

  .container .discussion-timeline {
    width: calc(100vw - 300px);
    max-width: 1160px;
  }

  .container .comment-holder {
    max-width: initial;
  }

  .container .timeline-new-comment {
    max-width: initial;
  }

  body.full-width .main .container, /* for old github */
  body.full-width [role="main"] .container,
  body.full-width .container .discussion-timeline {
    max-width: none;
  }
}

.timeline-comment.highlight-comment .timeline-comment-header {
  background-color: rgb(255,249,239) !important;
}

.timeline-comment.highlight-comment:after {
  border-right-color: rgb(255,249,239) !important;
}

.review-comment.highlight-comment {
  background-color: rgb(255,249,239) !important;
}

.discussion-item-review.highlight-comment .comment-body {
  background-color: rgb(255,249,239) !important;
}

.discussion-item-review.highlight-comment .review-summary::after {
  border-bottom-color: rgb(255,249,239) !important;
}

/* diff body */
.diff-body > header {
  border: solid 1px #c0d3eb;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.1em;
  cursor: pointer;
  color: #586069;
  font-weight: 600;
  background-color: rgb(255,249,239);
}

.diff-body > div {
  display: none;
  position: relative;
  margin: 0.5em;
}

.diff-body > div > .diff-type-toggle {
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px #ddd;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 0.8em;
  border-radius: 0.2em;
  cursor: pointer;
  background: #ddd;
  color: #fff;
  font-weight: bold;
}

.diff-body > div > pre {
  overflow: scroll;
  border: solid 1px #ddd;
  padding: 0.5em;
  white-space: pre-wrap;
  background-color: #fafafa;
}

.diff-body .diff-body-add {
  color: green;
  background: #ddffdd;
}

.diff-body .diff-body-delete {
  color: red;
  background: #ffdddd;
}

/* scroll to top because show diff body */
.scroll-to-top {
  border: solid 1px #c0d3eb;
  margin-top: 15px;
  margin-left: 60px;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.1em;
  cursor: pointer;
  color: #586069;
  font-weight: 600;
  background-color: rgb(255,249,239);
}
