.webview {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.webview .toolbar-actions {
  position: relative;
  display: flex;
  align-items: center;
}

.webview .move-history.deactive .icon {
  color: #ccc;
}

.webview .url-box {
  flex-grow: 1;
  width: auto;
}

.webview .url-box input.loading {
  background: #eef;
  background: #116cd6;
  background: rgba(17, 108, 214, 0.8);
  color: #fff;
}

.webview webview {
  flex-grow: 1;
}

.webview webview.loading {
  opacity: 0.5;
}

.webview iframe.spin {
  display: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: auto;
}

.webview iframe.spin.loading {
  display: block;
}

.webview .search-box {
  position: absolute;
  background: #fff;
  top: -2px;
  left: 0;
  width: 100%;
  padding-right: 10px;
  box-shadow: 1px 1px 1px #888;
  border: 1px solid #eee;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.webview .search-box input {
  box-sizing: content-box;
  flex: 1;
  border: none;
  border-bottom: solid 1px #aaf;
  border-radius: 0;
  margin: 0.25em 1em 0.5em 1em;
  padding: 0 0.25em;
  padding-right: 30px;
}

.webview .search-box .icon {
  font-size: 1.5em;
  color: #666;
  margin: 0 0.25em;
}

.webview .search-box .count {
  position: absolute;
  color: #aaa;
  top: 8px;
  right: 87px;
  min-width: 30px;
  text-align: right;
}

.webview .select-browser {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  z-index: 1;
  text-align: center;
  background: #fff;
}

.webview .select-browser img {
  width: 100px;
  vertical-align: middle;
  opacity: 0.5;
}

.webview .select-browser button {
  display: block;
  margin: 10px auto;
  width: 200px;
  font-size: 1.1em;
  padding: 0.75em 1em;
}

.webview .select-browser button span:last-child {
  font-size: 0.8em;
  color: #aaa;
}

.webview .external-browser {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  padding-top: 50px;
  background: #fff;
}

.webview .external-browser img {
  width: 100px;
  vertical-align: middle;
  opacity: 0.5;
}
