:root {
  --streams: #1A1F26;
  --streams-title: #777777;
  --streams-unread-count: #535253;
  --streams-bg: #EAEDF1;
  --streams-active-bg: #CBD2D9;
  --streams-border: #c8c8c8;
  --issues: #060606;
  --issues-bg: #ffffff;
  --issues-border: #DAE2E8;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

/* customize */

.issues-pane .issues .list-group .issue-list-item .milestone-and-labels {
  display: none;
}

/**
  I deleted labels in issues,
  but you can revert this to comment out following.
**/

/*
.issues-pane .issues .list-group .issue-list-item {
  min-height: 8.5em !important;
}

.issues-pane .issues .list-group .issue-list-item .milestone-and-labels {
  margin: 5px 0 0 23px;
  max-height: 22px;
  overflow-y: hidden;
}
*/

/* streams pane */
.streams {
  background-color: var(--streams-bg);
  letter-spacing: -0.4px;
  border-right: 1px solid var(--streams-border);
}

.streams .nav-group .nav-group-item.active {
  background-color: var(--streams-active-bg);
  border: none;
}

.streams .nav-group .nav-group-title {
  color: var(--streams-title);
  font-size: 12px;
  font-weight: bold;
  text-transform: lowercase;
}

.streams .nav-group .nav-group-title:first-letter {
  text-transform: uppercase;
}

.streams .nav-group .nav-group-item {
  font-size: 12px;
  padding: 2px 10px;
  margin: 0 !important;
}

.streams .nav-group .nav-group-item.active {
  color: rgba(157, 165, 180, 0.6);
}

.streams .nav-group .nav-group-item .icon {
  font-size: 14px;
}

.streams .nav-group .nav-group-item .stream-name{
  color: var(--streams);
}

.streams .nav-group .nav-group-item .stream-unread-count {
  color: var(--streams-unread-count);
  font-size: 10px;
}

/* Issue-list pane */
.issues-pane {
  background-color: var(--issues-bg);
  border: none;
}

.issues-pane .list-group .list-group-header,
.issues-pane .list-group .filter-selection {
  border: none !important;
}

.issues-pane .list-group .filter-selection {
  width: 130px !important;
  margin: 0 auto 5px auto !important;
}

.issues-pane .list-group .wait-for-loading-count {
  background-color: #DBECFE;
  color: #002B5D;
  border-top: 1px solid var(--issues-border);
}

.issues-pane .issues .list-group .issue-list-item {
  position: relative;
  border-top: 1px solid var(--issues-border);
  border-bottom: none;
  padding-left: 48px;
  min-height: 6em;
}

.issues-pane .issues .list-group .issue-list-item .body {
  color: var(--issues);
  font-weight: bold;
  line-height: 17px;
  letter-spacing: -0.3px;
  min-height: 0px;
  max-height: 3em;
  overflow-y: hidden;
}

.issues-pane .issues .list-group .issue-list-item .body span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.issues-pane .issues .list-group .issue-list-item.read-true,
.issues-pane .issues .list-group .issue-list-item.read-true .body,
.issues-pane .issues .list-group .issue-list-item.read-true .footer {
  background-color: #ffffff;
  color: #666;
  font-weight: 300;
}

.issues-pane .issues .list-group .issue-list-item.active,
.issues-pane .issues .list-group .issue-list-item.active .body,
.issues-pane .issues .list-group .issue-list-item.active .footer {
  background-color: var(--streams-bg);
  color: var(--issues);
}

.issues-pane .issues .list-group .issue-list-item .body .state {
  margin: 2px 6px 10px 0;
  height: 16px;
}

.issues-pane .issues .list-group .issue-list-item .footer .comment-count {
  display: none;
}

.issues-pane .issues .list-group .issue-list-item .footer .user{
  font-size: 0;
  width: 0;
}

.issues-pane .issues .list-group .issue-list-item .footer .user img{
  display: none;
}

.issues-pane .issues .list-group .issue-list-item .footer .user img:first-child {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.issues-pane .issues .list-group .issue-list-item .footer .repo {
  position: absolute;
  left: 72px;
  bottom: 8px;
  max-width: 135px;
}

.issues-pane .issues .list-group .issue-list-item .number {
  position: absolute;
  right: 24px;
  bottom: 7px;
}

.issues-pane .issues .list-group .issue-list-item div span.icon {
  position: absolute;
  right: 10px;
  bottom: 4px;
  color: #ccc;
}

select {
  background-color: #ffffff !important;
}

input[type="text"] {
  background-color: #ffffff !important;
  border: 1.5px solid #E1E8ED !important;
  border-radius: 20px;
}

input[type="text"]:hover {
  border-color: #568af2 !important;
}
