html {
  transform-origin: 0 0;
}

.pane-sm {
  width: 220px;
}

.app-window[data-layout='single'] .streams-pane,
.app-window[data-layout='single'] .issues-pane {
  display: none;
}
.app-window[data-layout='two'] .streams-pane {
  display: none;
}

.issues-pane {
  width: 300px;
  flex: initial;
  background-color: #fafafa;
}
