footer {
  display: flex;
  font-size: 0.8em;
  color: #666;
  align-items: center;
  padding: 0 4px;
  min-height: 16px !important; /* override */
}

footer .new-version-available {
  border: solid 1px #116cd6;
  padding: 0 4px;
  border-radius: 3px;
  margin: 4px;
  color: #fff;
  background: #2578da;
}
