code {
  background: #eee;
  padding: 0 0.4em;
  border-radius: 0.25em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input.form-control:focus {
  box-shadow: none;
}

button.deactive .icon {
  color: #ccc;
}

.hidden {
  display: none !important;
}

input {
  -webkit-user-select: initial; /* override */
}

.flex-stretch {
  flex-grow: 1;
}
