.issues {
  outline: none;
}

.issues ul li.list-group-header {
  position: relative;
  padding: 10px 10px 4px 10px; /* override */
}

.issues ul li.list-group-item {
  padding-bottom: 5px; /* override */
  border-bottom: 1px solid #ddd;
  border-top: none;
}

.issues ul li.list-group-header .filter-input {
  padding-right: 1.7em;
}

.issues ul li.list-group-header .icon.icon-cancel-circled {
  color: #888;
  position: absolute;
  right: 1.2em;
  font-size: 1.2em;
  top: 4px;
  bottom: 0;
  margin: auto;
  height: 2em;
  line-height: 2em;
}

.issues .wait-for-loading-count {
  text-align: center;
  background: white;
  color: #f88;
  font-weight:bold;
  padding: 0.5em;
  border-bottom: solid 1px #ddd;
}

.issues ul li.fade-in {
  animation: issue-fade-in 1.5s ease;
}

@keyframes issue-fade-in {
  0% {opacity: 0.35;}
  100% {opacity: 1;}
}

.issues ul li .body {
  font-weight: bold;
  min-height: 4em;
}

.issues ul li .body span {
  white-space: normal;
}

.issues ul li .milestone-and-labels {
  overflow: visible;
  white-space: pre-wrap;
}

.issues ul li .milestone-and-labels > span {
  display:inline-block;
  margin-right: 8px;
  padding: 1px 4px;
  border-radius: 4px;
  font-size: 0.9em;
}

.issues ul li .milestone-and-labels .milestone {
  box-sizing: border-box;
  border: solid 1px #444;
  color: #444;
  background: #fff;
}

.issues ul li .milestone-and-labels .milestone .icon-flag {
  margin-right: 4px;
}

.issues ul li.read-true {
  background: #eee;
}

.issues ul li.read-true .body {
  font-weight: 200;
  color: #888;
}

.issues ul li.read-true .milestone-and-labels > span {
  opacity: 0.75;
}

.issues ul li.active {
  background: #116cd6;
}

.issues ul li.active .body, .issues ul li.active .footer {
  color: white;
}

.issues ul li .state {
  float: left;
  margin-right: 0.5em;
  color: #bd2c00;
  width: 1.5em;
}

.issues ul li .footer {
  display: flex;
  font-size: 0.9em;
  color: #aaa;
}

.issues ul li .footer > div {
  align-self: center;
  min-width: 2em;
}

.issues ul li .footer .user {
  flex-grow: 1;
}

.issues ul li .footer .user img {
  width: 1.3em;
  border-radius: 0.15em;
  vertical-align: bottom;
  text-align: center; /** if src is null, title is displayed in img box **/
}

.issues ul li .footer .user img:not(:first-of-type) {
  margin-right: 4px;
}

.issues ul li .footer .repo {
  margin-right: 0.5em;
}

.issues ul li .footer .number {
  margin-right: 0.5em;
  min-width: initial;
}

.issues ul li .footer .comment-count {
  margin-left: 2px;
  font-size: 1.1em;
}

.issues ul li .footer .comment-count .icon-chat {
  margin-right: 2px;
}


.issues ul li .footer [class^="icon icon-star"] {
  font-size: 1.6em;
  margin-left: 4px;
}

.issues ul li .milestone-and-labels *,
.issues ul li .state:hover,
.issues ul li .footer .user img:hover,
.issues ul li .footer .repo span:hover,
.issues ul li .footer .number,
.issues ul li .footer .comment-count *,
.issues ul li .footer [class^="icon icon-star"],
.issues ul li .filter-clear-icon
{
  cursor: pointer;
}

.issues ul li.pager {
  text-align: center;
  padding: 1em 0;
}

.issues ul li.pager button {
  margin: 0 0.5em;
}

.issues .issue-filter-info {
  top: -1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 450px;
  border: 1px solid #bebebe;
  border-radius: 0.5em;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.issues .issue-filter-info .window-content {
  border-radius: 4px;
  padding: 1em;
}

.issues .issue-filter-info .window-content > div {
  width: 100%;
}

.issues .issue-filter-info table {
  border: solid 1px #aaa;
  border-radius: 4px;
}

.issues .issue-filter-info table code {
  background: transparent;
}

.issues .issue-filter-info .table-striped tr:active {
  /** override photon **/
  background: transparent;
  color: inherit;
}

.issues .issue-filter-info .table-striped tr:active:nth-child(even) {
  /** override photon **/
  background: #f5f5f4;
  color: inherit;
}

.issues .issue-filter-info table tr:first-child td:first-child {
  border-top-left-radius: 4px;
}

.issues .issue-filter-info table tr:first-child td:last-child {
  border-top-right-radius: 4px;
}

.issues .issue-filter-info table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.issues .issue-filter-info table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.issues .issue-filter-info .form-actions {
  margin-top: 1em;
  text-align: right;
}

.issues .filter-histories {
  position: absolute;
  top: 42px;
  left: 16px;
  right: 16px;
  background: white;
  border: 1px #eee;
  border-style: none solid;
  border-radius: 2px;
  box-shadow: #aaa 1px 1px 1px;
}

.issues .filter-histories li {
  padding: 2px 10px;
}

.issues .filter-histories li.active {
  background: rgb(163,205,254);
}

.issues .filter-selection {
  position: relative;
  border: 1px #ddd;
  border-style: solid none;
}

.issues .filter-selection:after {
  content: '▼';
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 0.8em;
  color: #aaa;
  pointer-events: none;
}

.issues .filter-selection select {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  background: #fafafa;
  text-align: -webkit-center;
  border-radius: 0;
  padding: 0;
  font-size: 0.8em;
  color: #666;
  text-align-last: center;
  outline: none;
  line-height: normal;
}

.issues .issues-spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding-top: 45px;
  background: rgba(0,0,0,0.05);
}
.issues .issues-spinner iframe {
  border: none;
  width: 20px;
  height: 20px;
}
